@{
    ViewData["Title"] = "Run PR";
}
    <div class="jumbotron shadow" style="background-color:#5A5560; border-radius:50px;">
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    Run PR
                    <i class='fas fa-running' style='font-size:24px;color: #46344E'></i>
                    <i class='fas fa-running' style='font-size:36px;color: ghostwhite'></i>
                    <i class='fas fa-running' style='font-size:48px;color: #46344E'></i>
                </h1>
              
                <p class="lead">
                    Run PR is designed to help maximize your running performace. The app provides tips and tricks on speed, distance, pace and strength training. The app also provides
                    a pace calculator to help achieve your next race PR.
                </p>
            </div>
        </div>
    </div>
<div class="jumbotron shadow" style="background-color:#5A5560; border-radius:30px;">
    <div class="row">
        <div class="col-md-3">
            <h2>Control your Cadence</h2>
            <p>
                What is cadence in running? How to determine what your cadence should be.<br />
            </p>
        </div>
        <div class="col-md-3">
            <h2>All about Speed</h2>
            <p>Want to set a new PR? Expore the do's and dont's of what to do to increase your speed</p>
        </div>
        <div class="col-md-3">
            <h2>Distance</h2>
            <p>Take your running to the next mile. Learn tip and tricks to maximize your long run.</p>
        </div>
        <div class="col-md-3">
            <h2>Strength Training</h2>
            <p>Workouts designed for runners to maximize their performace. </p>
        </div>
    </div>
    <div class="row">
        <img src="~/images/runningC.jpg" alt="women running by water" asp-append-version="true"
             class="float-left img-fluid col-sm-3  shadow rounded-sm" style="width:100%;" />
        <img src="~/images/speed.jpg" alt="biking through the forest" asp-append-version="true"
             class="float-left img-fluid col-sm-3  shadow rounded-sm" style="width:100%;" />
        <img src="~/images/distance.jpg" alt="seniors walking" asp-append-version="true"
             class="float-left img-fluid col-sm-3  shadow rounded-sm" style="width:100%;" />
        <img src="~/images/weight.jpg" alt="seniors walking" asp-append-version="true"
             class="float-left img-fluid col-sm-3  shadow rounded-sm" style="width:100%;" />
    </div>
    </div>


     
    
